div.dropdown-menu{
    right: 0 !important;
}
.m-0{
    margin: 0;
}
.dropdown-menu{
    left: auto !important;
}
.dropdown-item-active{
    background-color: #2a2e39;
    color: #ffffff;
}
.input-error-validate{
    font-size: 9pt;
    color: red;
}

body{
    background-color: #eeeeee;
}

#v-pills-tab{
    background-color: white !important;
}

/*#v-pills-tab > a,div{*/
/*    border-bottom: 1px solid #CCCCCC;*/
/*}*/
